* {
    margin:0;
    padding:0;
}
.header {
    background: #1f2937;
    font-family:"Roboto";
    color: #f9faf8;
    font:24px;
    height:400px;
    display:flex;

justify-content:center;
}


.hero-main {
    font-family: 'Roboto';
    font: 48px;
color: #f9faf8;
weight: 900;
justify-content:center;
}

.hero-sec, .links {
   font-family:'Roboto'; 
   font: 18px;
   color: #e5e7eb;
}

.first-button {
    color:#3882f6;
    font-family:'roboto';
    
}

.middle-section {
    font:36px;
    color:#1f2937;
    weight:900;
    text-align:center;
    align-content:baseline;
    margin:24px;
    height:500px;
}

.text{
    font-family:'Roboto';
    font:18px;
    color:#e5e7eb;
    text-align:center;
    align-content:center;
    justify-content:space-around;
}

.h2 {
    display:flex;
    flex-direction:column;
}

footer {
    background: #1f2937;
    height:50px;
    text-align:center;
    align-content:center;
    color:#f9faf8;
}

.bottom-section {
    weight:900;
    color:#1f2937;
    font: 36px;
    background: #E5E7EB;
    text-align:center;
    margin-bottom: 200px;
    display:block;
    height: 350px;
}

.last-section {
    background:#3882f6;
    display:block;
}